@font-face {
    font-family: "Overwatch";
    src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff');
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@media (min-width: 768px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-x: visible;
    }

    .navbar {
        max-width: 300px;
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header {
        float: none !important;
    }

    .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
    }

    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

.no-pad {
    padding: 0;
    margin: 0;
}

.theme {
    background: #1F3D44;

}

.full-height {
    background: #1F3D44;
    height: 100%;
    width: 100%;
}

.img-pad {
    padding: 40px;
}

.username {
    color: white;
    font-size: 35px;
}

.white,
.white:hover {
    color: white;
}

.menu-item {
    font-family: Overwatch;
    font-size: 26px;
    letter-spacing: 1px;
    padding: 10px;
}

.content {
    background-color: white;
    height: 100%;
}

ul {
    list-style-type: none;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}

h2,
h4 {
    font-family: serif;
}