@media (min-width: 768px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-x: visible;
    }

    .navbar {
        max-width: 300px;
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header {
        float: none !important;
    }

    .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
    }

    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

.no-pad {
    padding: 0;
    margin: 0;
}

.theme {
    background: rgba(35, 34, 32, 0.99);

}

.full-height {
    background: rgba(35, 34, 32, 0.99);
    height: 100%;
}

.img-pad {
    padding: 40px;
}

.username {
    color: white;
    font-size: 35px;
}

.white,
.white:hover {
    color: white;
}

.menu-item {
    padding: 10px;
    font-size: 20px;
}

.content {
    background-color: white;
    height: 100%;
}

ul {
    list-style-type: none;
}