.game {
    padding: 10;
    background-color: rgb(31, 61, 68);

    background-color: rgb(255, 255, 255);
}

.content {
    height: auto !important;
    min-height: 960px;
}

#profil-panel {
    margin-top: 15px;
}

#profil-edit-icon {
    color: #666;
}

#profil-edit-icon:hover {
    color: #333;
}

.profile-btn {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  z-index: 0 !important;
}

.profile-btn:hover {
  text-overflow: none;
  overflow: visible;
  color: #1F3D44;
  font-weight: bold;
  z-index: 1 !important;
  position: relative;
}

.profile-btn:hover span {
    background-color: white;
    display: inline-block;
    padding-right: 5px;
}

.profile-edit-text {
  font-size: 22px;
  color: #1F3D44;
  font-family: Overwatch;
  text-decoration: none;
}

.profile-edit-text::first-letter {
  font-size: 25px;
}
